/************************************************** custom defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: default;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

a {
  list-style: none;
}
